/* Custom Styles */

body {
    background-color: #CBEEF3; /* Soft Teal */
    font-family: Arial, sans-serif;
}

.text-deep-red {
    color: #880D1E;
}

.text-bright-red {
    color: #DD2D4A;
}

.text-soft-pink {
    color: #F26A8D;
}

.btn-bright-red {
    background-color: #DD2D4A;
    color: white;
    border: none;
}

.btn-bright-red:hover {
    background-color: #F26A8D;
}

.list-group-item.bg-soft-teal {
    background-color: #CBEEF3 !important;
    color: black !important;
}

.list-group-item.bg-soft-teal a {
    color: black !important;
    text-decoration: none;
}

.list-group-item.bg-soft-teal a:hover {
    text-decoration: underline;
}

.container {
    background-color: white;
    padding: 40px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.view-slot-container{
    margin-top: 100px
}
