<!DOCTYPE html>

<head>
  <title>Login Page</title>
  <link rel="stylesheet" href="../css/login.css">
</head>
<body>
  <div class="container">
    <!-- Left Section -->
    <div class="arrow-container">
      <a href="index.html">
        <img src="../assets/images/arrow.png" class="arrow">
      </a>
    </div>
    <div class="left">
      <div class="form-container">
        <h1>Login</h1>
        <form>
          <input type="email" placeholder="Email" required>
          <input type="password" placeholder="Password" required>
          <label>
            <input type="checkbox"> Remember Me
          </label>
          <a href="index.html" style="text-decoration: none;">
            <button type="button">Login</button>
          </a>
        </form>
      </div>
    </div>

    <!-- Right Section -->
    <div class="right">
      <img class="computer-picture" src="../assets/images/computer.png">
    </div>
  </div>
</body>
</html>
