<nav class="navbar navbar-expand-sm bg-dark navbar-dark fixed-top">
    <div class="container-fluid">
        <!-- Leftmost: Logo -->
        <a class="navbar-brand" href="/">LabKita!</a>

        <!-- Center: Main Links -->
        <ul class="navbar-nav mx-auto align-items-center">
            <li class="nav-item text-center me-3">
                <a class="nav-link" href="/">       <!-- href="/" for index -->
                    <div class="d-flex flex-column">
                        <i class="fas fa-home mb-1"></i>
                        <span class="fs-6">Home</span>
                    </div>
                </a>
            </li>
            <li class="nav-item text-center me-3">
                <a class="nav-link" href="/viewlabs">       <!-- href="/viewlabs" for viewlabs -->
                    <div class="d-flex flex-column">
                        <i class="fas fa-laptop mb-1"></i>
                        <span class="fs-6">View Labs</span>
                    </div>
                </a>
            </li>
            <li class="nav-item text-center me-3">
                <a class="nav-link" href="/manage-reservations">        <!-- href="/manage-reservations" for manage-reservations -->
                    <div class="d-flex flex-column">
                        <i class="fas fa-calendar-check mb-1"></i>
                        <span class="fs-6">Manage Reservations</span>
                    </div>
                </a>
            </li>
            <li class="nav-item text-center">
                <a class="nav-link" href="/admin">      <!-- href="/admin" for admin -->
                    <div class="d-flex flex-column">
                        <i class="fas fa-cogs mb-1"></i>
                        <span class="fs-6">Admin Panel</span>
                    </div>
                </a>
            </li>
        </ul>

        <!-- Right: Other Links & Profile Links -->
        <ul class="navbar-nav ms-auto align-items-center">
            <form class="d-flex me-3" role="search">
                <input class="form-control me-2" type="search" placeholder="Search users..." aria-label="Search">
                <button class="btn btn-outline-light" type="submit"><i class="fas fa-search"></i></button>
            </form>

            {{#if user}}
                <!-- Profile Section (Visible when logged in) -->
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="profileDropdown" data-bs-toggle="dropdown">
                        <i class="fas fa-user-circle fa-2x"></i>
                    </a>
                    <ul class="dropdown-menu dropdown-menu-end">
                        <li><a class="dropdown-item" href="/profile">View Profile</a></li>
                        <li><a class="dropdown-item" href="/logout">Logout</a></li>
                    </ul>
                </li>
            {{else}}
                <!-- Login & Signup (Visible when logged out) -->
                <li class="nav-item"><a class="nav-link" href="/login">Login</a></li>
                <li class="nav-item"><a class="nav-link" href="/signup">Sign-Up</a></li>
            {{/if}}

            <!-- Notification Bell Icon -->
            <li class="nav-item" id="notifItem">
                <a class="nav-link" href="#" data-bs-toggle="tooltip" data-bs-placement="bottom" title="Notifications">
                    <i class="fas fa-bell"></i>
                </a>
            </li>

            <!-- Profile Icon (Only visible when logged in) -->
            <li class="nav-item dropdown position-relative" id="profileItem">
                <a class="nav-link dropdown-toggle" href="#" id="profileDropdown" data-bs-toggle="dropdown">
                    <i class="fas fa-user-circle fa-2x"></i>
                </a>
                <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="profileDropdown">
                    <li>
                        <a href="/view-profile" class="dropdown-item d-flex align-items-center text-decoration-none">   <!-- add view profile -->
                            <img src="/assets/camellya.jpeg" alt="Profile Picture" class="rounded-circle" width="40" height="40">
                            <div class="ms-2">
                                <strong class="d-block" style="color: black;">Enzo Rafael Chan</strong>
                                <span style="font-size: 0.85rem; color: grey;">12369420</span>
                            </div>
                        </a>
                    </li>
                    <li><hr class="dropdown-divider"></li>
                    <li><a class="dropdown-item" href="/privacySettings">Settings</a></li>        <!-- add settings -->
                    <li><a class="dropdown-item" href="/logout">Logout</a></li>          <!-- need feature for logout -->
                </ul>
            </li>
        </ul>
    </div>
</nav>