
<body>
    <div class="container">
    <!-- Left Section -->
    <div class="arrow-container">
      <a href="/">
        <img src="/public/img/arrow.png" class="arrow">
      </a>
    </div>
    <div class="left">
      <div class="form-container">
        <h1>Login</h1>
                {{#if error}}
                    <p class="error">{{error}}</p>
                {{/if}}
                <form id="loginForm" action="/api/auth/login" method="POST">
                    <input type="email" name="email" placeholder="Enter your email" value="{{email}}" required>
                    <input type="password" name="password" placeholder="Enter your password" required>
                    <button type="submit">Login</button>
                </form>
      </div>
    </div>

    <!-- Right Section -->
    <div class="right">
      <img class="computer-picture" src="/public/img/computer.png">
    </div>
  </div>
</body>