<body>
<!-- Background image only applied to this section -->
<section class="login-section">
    <div class="login-container">
        <div class="form-container">
            <h1>Login</h1>
            <p id="errorMessage" class="error" style="color: red; display: none;"></p>

            <form id="loginForm">
                <input type="email" name="email" placeholder="Enter your email" required>
                <input type="password" name="password" placeholder="Enter your password" required>
                <button type="submit">Login</button>
                <p id="errorMessage" style="color: red; display: none;"></p>
            </form>
        </div>

        <!-- Clickable Image -->
        <a href="/">
            <img class="computer-picture" src="/public/img/logo1.png" alt="Placeholder">
        </a>
    </div>
</section>
</body>
