<body>
<section class="login-section">
    <a href="/" class="back-button">
        <img src="/public/img/return-button.png" alt="Back" class="back-icon">
    </a>

    <div class="login-container">
        <img class="computer-picture" src="/public/img/logo1.png" alt="Computer illustration">

        <div class="form-container">
            <h1>Login</h1>
            <p id="errorMessage" class="error" style="display: none;">
                User not found. Make sure that email and password are correct.<br>
                <a href="mailto:christian_bunyi@dlsu.edu.ph" class="admin-contact">Contact administrators</a> if you forgot your account details.
            </p>

            <form id="loginForm">
                <input type="email" name="email" placeholder="Enter your email" required>
                <input type="password" name="password" placeholder="Enter your password" required>
                <div class="remember-me">
                    <input type="checkbox" id="remember" name="remember">
                    <label for="remember">Keep me logged in</label>
                </div>
                <button type="submit">Login</button>
            </form>
            <p class="register-link">Don't have an account? <a href="/api/auth/signup">Register now!</a></p>
        </div>
    </div>
</section>
</body>