<body style="text-align: center; font-family: Arial, sans-serif;">
    <p></p>
    <h1 style="font-size: 36px;">
        <span style="font-family: 'Pixelify Sans', sans-serif;">LabKaParinNamin!</span>
        But you dont have access to this page. 
    </h1>
    <img src="/public/img/heart-split.jpg" alt="403" style="width: 85%; height: auto; margin: 20px 0;">
    <p>
        Contact the
        <a href="mailto:christian_bunyi@dlsu.edu.ph" style="color: red; text-decoration: underline;">site administrators</a>
        if you think this is wrong.
    </p>
</body>
