body {
    font-family: Arial, sans-serif;
    background: linear-gradient(to bottom, #DD2D4A, #F26A8D, #F49CBB);
    color: #CBEEF3;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

#bg {
    background-color: #880D1E;
    padding: 25px;
    border-radius: 15px;
    box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.2);
    width: 90%;
    max-width: 350px;
    height: auto;
    text-align: center;
}

h2 {
    margin-bottom: 15px;
    color: white;
    font-size: 24px;
    font-weight: bold;
}

p {
    margin-bottom: 20px;
    font-size: 14px;
}

form {
    display: flex;
    flex-direction: column;
    align-items: center;
}

form div {
    margin-bottom: 12px;
    width: 100%;
    text-align: left;
}

label {
    display: block;
    font-size: 14px;
    color: #FFF;
    margin-bottom: 5px;
}

input[type="email"], input[type="password"], input[type="text"] {
    width: calc(100% - 20px);
    max-width: 300px;
    padding: 10px;
    margin: 0 auto;
    border: 1px solid #F49CBB;
    border-radius: 8px;
    background-color: #FFF0F5;
    display: block;
    font-size: 14px;
    box-shadow: inset 0px 2px 4px rgba(0, 0, 0, 0.1);
    transition: border 0.3s ease;
}

input:focus {
    border: 2px solid #DD2D4A;
    outline: none;
}

button, .button {
    width: 80%;
    max-width: 300px;
    margin: 15px auto;
    display: block;
    background-color: #F9B9CA;
    color: white;
    border: none;
    padding: 12px;
    border-radius: 8px;
    cursor: pointer;
    font-size: 16px;
    font-weight: bold;
    transition: background-color 0.3s ease;
}

button:hover, .button:hover {
    background-color: #DD2D4A;
}

.computer-picture {
    width: 180px;
    height: 180px;
    margin-top: 15px;
}

.arrow-container {
    position: absolute;
    top: 20px;
    left: 20px;
    z-index: 10;
}

.arrow-container .arrow {
    width: 30px;
    height: 30px;
    cursor: pointer;
    transition: opacity 0.3s;
}

.arrow-container .arrow:hover {
    opacity: 0.7;
}